* {
    /*Ad new fonts. */
    font-family: Helvetica, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

/* Navigation Bar */

.ws-top-logo {
    width: 150px;
    height: 50px;
    background-image: url('/img/top-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Make Navigation Bar Be Fixed. */
.navbar {
    width: 100%;
    position: fixed;
    z-index:1030;
    box-shadow: inset -17px -9px 20px 2px #747475d4;
} */
.col-md-2, 
.col-md-4, 
.col-md-5, 
.col-md-6, 
.col-md-8, 
.col-md-12 {
    position: static;
}

/* Change the padding between the navigation buttons.  */

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 30px;
    padding-right: 50px;
    padding-left: 50px;
    border-right: solid 1px #1b1923;
    box-shadow: 2px 0px 0px 0px #484a45; 
}

.l-border {
    border-right: solid 1px #1b1923;
    box-shadow: 3px 0px 0px 0px #484a45;
}

.dl-link-container {
    width: 350 px;
    padding: 10px;
}

.dl-link {
    float: left;
    width: 50%;
    padding: 2px 10px;

}

.dl-icons {
    width: 100%;
}

/* Section.1 - Header */

.top-bg {
    width: 100%;
    height: 600px;
    background-image: url('/img/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.header-slider {
    padding-top: 100px;
}

.slide-content {
    padding: 10px;
    /* width: 100%; */
    /* padding-bottom:20px; */
    border-radius: 5px;
    /* Pantone - PMS PANTONE 1545 */
    box-shadow: inset 0px -8px 17px 4px #4f2608;
    /* border:solid 2px #888888; */
    /* Pantone - PMS 1395 */
    background-image: url('/img/pattern/pattern-01.png');
    background-size:cover;
}

.swiper-pagination {
    bottom: 5px;
}

.swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    border:solid 1px #363636;
    /* Pantone - PMS PANTONE 136 C */
    background:rgba(255, 191, 63, 1);
}

#header.container .row .col-md-5 .swiper-container {
    margin-bottom: 5px;
}

/* Section.2 - News */

#news.container #news-title.row {
    padding-top: 10px;
}

#news-title.row::before {
    content:" ";
    width: 100%;
    height: 75px;
    display: block;
}

.ws-title {
    border-radius: 5px;
    text-align: center;
    line-height: 1.75rem;
    padding: 0.75rem;
    color:#fff;
    box-shadow: inset 0px 0px 20px 6px #c1c1c185;
    margin-bottom: 20px;
}

.ws-title h3 {
    margin: 0;
    text-shadow: 0px 0px 20px #00112d;
}

h3::before {
    content:"";
    width: 100%;
    height: 100px;
}

.ws-s-title {
    width: 25%;
    min-width: 133px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: inset 5px 4px 11px 0px #c1c1c185;
}

.ws-s-title h3 {
    margin: 0;
    text-align: center;
}

.ws-board {
    margin-bottom: 15px;
    background-color: #ccc;
    background-image: url('/img/pattern/pattern-03.png');
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 10px 5px 20px 1px #757575bf;
    font-size: 20px;
    font-weight: 500;
    padding:10px 10px 10px 40px;
}

.ws-board p {
    padding-top: 2px;
}
.ws-board hr {
    margin:0;
    box-shadow: 0px 0px 0px rgb(117, 117, 117);
}

.date-time {
    font-size:24px;
    font-weight: 700;
    color: #013386;
    letter-spacing: 3px;
}

.ten-large {
    font-size:24px;
    font-weight: 700;
    color: #fcfafa;
    letter-spacing: 3px;
}

.rb-stone-1 {
    width: 50px;
}

.rb-stone-10 {
    width: 105px;
}

.pattern-03 {
    background-image: url('/img/pattern/pattern-03.png');
    background-size: contain;
    background-repeat: no-repeat;
}


.ws-board p {
    margin: 0;
}

#story-anchor.ws-interval {
    height: 75px;
}

/* Section.3 - Story */

/* Add a Background image for Story */

.ws-bg-2 {
    width: 100%;
    height: 670px;
    background-color: #aaa;
    background-image: url('/img/cloudy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #343a40;
}

a.nav-link {
    color:#fff;
}

.nav-pills .nav-link {
    background-color: #888888;
    border:solid 2px #343a40; 
    margin-right:10px;
}

a.nav-link:hover {
    color:powderblue;
}

#pills-home, #pills-profile, #pills-contact {
    min-height: 370px;
    border-radius: 5px;
    padding:15px 0;
    background-color: rgba(255, 255, 255, 0.6);
    
    
}

#story.container #story-title.row {
    padding-top: 10px;
    margin-bottom: 10px;
}

.ws-story-content {
    min-height: 440px;
}

.story-center::before {
    content:'';
    width:0;
    height:100%;
    display:inline-block;
    position:relative;
    vertical-align:middle;
}

.King {
    color:rgba(255, 240, 33, 0.932);
    text-shadow: 5px 3px 13px #3c1b05;
}

.draw-focus {
    font-size: 24px;
    font-weight: 600;
    text-shadow: 4px 2px 7px #38373680;
}

.draw-focus-gold {
    color:rgb(65, 59, 27);
    font-size: 30px;
    font-weight: 700;
    text-shadow: 4px 2px 7px #38373680;
}

.draw-focus-more {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 4px 2px 7px #38373680;
}

/* Section.4 - Character */

/* Part.1 of Character */

#char-1.container {
        margin-bottom: 10vh;
}


#char-1.container #char-title.row {
    padding-top: 10px;
    margin-bottom: 8vh;
}

#char-title.row::before {
    content:" ";
    width: 100%;
    height: 75px;
    display: block;
}

.pic, .words {
    float:left;
}
#heroin-intro .words {
    margin-top:20px;
}

#heroin-intro.col-md-6 .pic{
    padding:0;
    width: 40%;
    height: 250px;
    box-shadow: 10px 9px 11px 0px #c1c1c185;
}

#heroin-intro.col-md-6 .words {
    padding-top:10px;
    padding-left:70px;
    margin-bottom:30px;
    margin-left:20px;
    width: calc(60% - 20px);
    height: 250px;
}

@media screen and (max-width: 1199px) {
    /* STYLES HERE */
    #heroin-intro.col-md-6 .pic, 
    #heroin-intro.col-md-6 .words {
        width: 100%;
    }
    
}

#heroin-intro.col-md-6 .words h2 {
    font-weight: bolder;
    color: navy;
}


#heroin-intro.col-md-6 .pic {
    background-image:url('/img/Tina-s-Head.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

#heroin-intro.col-md-4 .words {
    background-color: #aaa;
}

/* Part.2 of Character */

.ws-bg-3 {
    width: 100%;
    background-image: url('/img/cloudy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 100px;
}

.ws-bg-4 {
    width: 100%;
    background-image: url('/img/cloudy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 100px;
}

.char {
    margin-top: 15px;
    border:solid 5px #4c4a4a75;
    box-shadow: 1px 4px 17px 0px #7c7f86;
    border-radius:5px;
    margin-bottom:15px;
}

.weapon-list {
    margin-top: 15px;
    margin-bottom:15px;
    padding: 10px;
    width: 100%;
    background-color: rgba(170, 170, 170,0.6);
    font-size: 24px;
    color: #ffffff;
    text-shadow: 5px 0px 20px #060301e3;
    box-shadow: 1px 4px 17px 0px #7c7f86;
    border-radius:5px;
    margin-bottom:15px;
}
.catag {
    font-size: 28px;
}

.weapon-name {
    font-size: 40px;
    font-weight: 900;
    color: #ffaa00;
    text-shadow: 5px 0px 20px #060301e3;
}


/* Section.5 - FAQ */
#faq-title.row::before {
    content:"";
    width: 100%;
    height: 85px;
    display: block;
}

.card, .card-header, .card-body {
    
    width: 100%;
}

.question-board {
    padding-top: 20px;
    padding-bottom: 100px;

}

.question-list {
    margin: 0;
}
span.question {
    font-size: 18px;
    color:#013386;
    font-weight: 500;
}


/* Footer */

.footer-cover {
    width: 100%;
    color: #fff;
}

.app-intro,
.icons-container {
    padding: 20px;
}

.app-intro .pic {
    width: 20%;
}

img {
    width: 100%;
    height: auto;
}

.app-intro .words {
    width: 80%;
    border-right: solid 1px #1b1923;
    box-shadow: 4px 0px 0px 0px #484a45;
}
@media (max-width: 760.98px) {
    .app-intro .words {
        border-right: none;
        box-shadow: none;
    } 
    }


.app-intro .words ul {
    list-style: none;
    padding: 0;
    padding-left: 10px;
}

.icons {
    margin-top: 25px;
    width: 15%;
    float: left;
    padding: 5px;
    
}
.icons img {
    opacity: 0.6;
}
.icons img:hover {
    opacity:1;
}

.ic-shadow {
    border-bottom: solid 1px #1b1923;
    box-shadow: 0px 3px 0px 0px #484a45;
    margin-bottom: 20px;
}

.r15 {
    padding: 10px 15px;
}

.r15 .pic {
    width: 15%;
    min-width: 85px;
    padding: 5px;
}

.r15 .words {
    padding: 10px;
}

.r15 .words ul {
    padding-left: 10px;
}

.bottom-logo {
    width:calc(100% - 40px);
    padding: 20px;
}

.copyright {
    text-align: center;
}



