* {
    /*Ad new fonts. */
    font-family: Helvetica, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

/* Navigation Bar */

.ws-top-logo {
    width: 150px;
    height: 50px;
    background-image: url('/img/top-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}
/* Make Navigation Bar Be Fixed. */
.navbar {
    width: 100%;
    position: fixed;
    z-index:1030;
} */
.col-md-2, 
.col-md-4, 
.col-md-5, 
.col-md-6, 
.col-md-8, 
.col-md-12 {
    position: static;
}

/* Change the padding between the navigation buttons.  */

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 30px;
    padding-right: 50px;
    padding-left: 50px;
}

.dl-link-container {
    width: 350 px;
    padding: 10px;
}

.dl-link {
    float: left;
    width: 50%;
    padding: 2px 10px;

}

.dl-icons {
    width: 100%;
}

/* Section.1 - Header */

.top-bg {
    width: 100%;
    height: 600px;
    background-image: url('/img/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.header-slider {
    padding-top: 100px;
}

.slide-content {
    padding: 10px;
    width: 100%;
    /* padding-bottom:20px; */
    border-radius: 5px;
    /* Pantone - PMS PANTONE 1545 */
    border:solid 2px #4f2608;
    /* border:solid 2px #888888; */
    /* Pantone - PMS 1395 */
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.8)0%, rgba(153, 99, 8, 1)34%); 
}
.swiper-pagination {
    bottom: 5px;
}

.swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    border:solid 1px #363636;
    /* Pantone - PMS PANTONE 136 C */
    background:rgba(255, 191, 63, 1);
}
#header.container .row .col-md-5 .swiper-container {
    margin-bottom: 5px;
}

/* Section.2 - News */

#news.container #news-title.row {
    padding-top: 10px;
}
#news-title.row::before {
    content:" ";
    width: 100%;
    height: 75px;
    display: block;
}
h3::before {
    content:"";
    width: 100%;
    height: 100px;
}

.ws-title {
    border-radius: 5px;
    text-align: center;
    line-height: 1.75rem;
    padding: 0.75rem;
    color:#fff;
}

.ws-title h3 {
    margin: 0;
}


.ws-s-title {
    width: 25%;
    min-width: 133px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.ws-s-title h3 {
    margin: 0;
    text-align: center;
}

.ws-board {
    background-color: #ccc;
    padding: 5px 10px;
}

.ws-board p {
    margin: 0;
}

#story-anchor.ws-interval {
    height: 75px;
}
/* Section.3 - Story */

/* Add a Background image for Story */

.ws-bg-2 {
    width: 100%;
    height: 670px;
    background-color: #aaa;
    background-image: url('/img/cloudy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #343a40;
}

a.nav-link {
    color:#fff;
}

.nav-pills .nav-link {
    background-color: #888888;
}

a.nav-link:hover {
    color:powderblue;
}

#pills-home, #pills-profile, #pills-contact {
    min-height: 370px;
    border-radius: 5px;
    padding:15px 0;
    background-color: rgba(255, 255, 255, 0.6);
    
}

#story.container #story-title.row {
    padding-top: 10px;
    margin-bottom: 10px;
}

.ws-story-content {
    min-height: 440px;
}

.draw-focus {
    font-size: 24px;
}

.draw-focus-more {
    font-size: 30px;
    font-weight: 700
}

/* Section.4 - Character */

/* Part.1 of Character */

#char-1.container {
        margin-bottom: 10vh;
}


#char-1.container #char-title.row {
    padding-top: 10px;
    margin-bottom: 100px;
}

#char-title.row::before {
    content:" ";
    width: 100%;
    height: 75px;
    display: block;
}

.pic, .words {
    float:left;
}


#heroin-intro.col-md-6 .pic{
    padding:none;
    width: 40%;
    height: 250px;
    border-bottom:solid 3px;
}
#heroin-intro.col-md-6 .words {
    padding-top:10px;
    margin-bottom:30px;
    margin-left:20px;
    width: calc(60% - 20px);
    height: 250px;
}

@media screen and (max-width: 1199px) {
    /* STYLES HERE */
    #heroin-intro.col-md-6 .pic, 
    #heroin-intro.col-md-6 .words {
        width: 100%;
    }
    
}

#heroin-intro.col-md-6 .words h2 {
    font-weight: bolder;
    color: navy;
}


#heroin-intro.col-md-6 .pic {
    background-image:url('/img/Tina-s-Head.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

#heroin-intro.col-md-4 .words {
    background-color: #aaa;
}

/* Part.2 of Character */

.ws-bg-3 {
    width: 100%;
    height: 80vh;
    background-color: #aaa;
    background-image: url('/img/cloudy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 100px;
}


.char-sword,
.char-cane {
    height: 100%;
    margin: 0 auto;
    /* background-color: #aaa; */
}
.char-sword {
    background-image: url('/img/Tina-Fighter.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position:  bottom;
}

.char-cane {
    border-bottom: solid 5px powderblue;
    height: 80vh;
    background-image: url('/img/Tina-mage.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
.weapon-list {
    padding: 10px;
    width: 60%;
    color:#fff;
    background-color: rgba(170, 170, 170,0.6);
}
@media screen and (max-width: 799px) {
    .char-cane .weapon-list {
        margin-left:30%;
    }
}
@media screen and (max-width:380px) {
    margin-left:0;
}

.weapon-name {
    font-size: 40px;
    font-weight: 900;
    color:navy;
}

/* .char-cane .container {
    margin-bottom:calc(80vh- 250px);
} */

/* Section.5 - FAQ */
#faq-title.row::before {
    content:"";
    width: 100px;
    height: 85px;
    display: block;
}

.card, .card-header, .card-body {
    
    width: 100%;
    min-width: 460px;
}

.question-board {
    padding-top: 20px;
    padding-bottom: 100px;

}

.question-list {
    margin: 0;
}

/* Footer */

.footer-cover {
    width: 100%;
    color: #fff;
}

.app-intro,
.icons-container {
    padding: 20px;
}

.app-intro .pic {
    width: 20%;
}

img {
    width: 100%;
    height: auto;
}

.app-intro .words {
    width: 80%;
}

.app-intro .words ul {
    list-style: none;
    padding: 0;
    padding-left: 10px;
}

.icons {
    width: 15%;
    float: left;
    padding: 5px;
}

.r15 {
    padding: 10px 30px;
}

.r15 .pic {
    width: 15%;
    min-width: 85px;
    padding: 5px;
}

.r15 .words {
    padding: 10px;
}

.r15 .words ul {
    padding-left: 10px;
}

.bottom-logo {
    padding: 20px;
}

.copyright {
    text-align: center;
}