* {
    /*Ad new fonts. */
    font-family: Helvetica, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
}

/* Navigation Bar */

.ws-top-logo {
    width: 150px;
    height: 50px;
    background-image: url('/img/top-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}
/* Make Navigation Bar Be Fixed. */
.navbar {
    width: 100%;
    position: fixed;
    z-index:1030;
}
.col-md-2, 
.col-md-4, 
.col-md-5, 
.col-md-6, 
.col-md-8, 
.col-md-12,
/* .swiper-slide.slide-content.swiper-slide-active  */
{
    position: static;
}

/* Change the padding between the navigation buttons.  */

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 30px;
    padding-right: 50px;
    padding-left: 50px;
}

.dl-link-container {
    width: 350 px;
    padding: 10px;
}

.dl-link {
    float: left;
    width: 50%;
    padding: 2px 10px;

}

.dl-icons {
    width: 100%;
}

/* Section.1 - Header */

.top-bg {
    width: 100%;
    height: 600px;
    background-image: url('/img/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.header-slider {
    padding-top: 100px;
}

.slide-content {
    padding: 10px;
    min-height: 323px;
    width: 100%;
    padding-bottom:30px;
    background-color: rgb(54, 35, 12);
}
.swiper-pagination {
    bottom: 10px;
}

.swiper-slide.slide-content.swiper-slide-active {
    background-color: rgb(54, 35, 12);
}

#header.container .row .col-md-5 .swiper-container {
    margin-bottom: 5px;
}

/* Section.2 - News */

#news.container #news-title.row {
    padding-top: 10px;
}
#news-title.row::before {
    content:" ";
    width: 100%;
    height: 75px;
    display: block;
}
h3::before {
    content:"";
    width: 100%;
    height: 100px;
}

.ws-title {
    border-radius: 5px;
    text-align: center;
    line-height: 1.75rem;
    padding: 0.75rem;
    color:#fff;
}

.ws-title h3 {
    margin: 0;
}


.ws-s-title {
    width: 25%;
    min-width: 133px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.ws-s-title h3 {
    margin: 0;
    text-align: center;
}

.ws-board {
    background-color: #ccc;
    padding: 5px 10px;
}

.ws-board p {
    margin: 0;
}

#story-anchor.ws-interval {
    height: 75px;
}
/* Section.3 - Story */

/* Add a Background image for Story */

.ws-bg-2 {
    width: 100%;
    height: 600px;
    background-color: #aaa;
}

#story.container #story-title.row {
    padding-top: 10px;
    margin-bottom: 10px;
}

.ws-story-content {
    background-color: powderblue;
    min-height: 440px;
}

.draw-focus {
    font-size: 24px;
}

.draw-focus-more {
    font-size: 30px;
    font-weight: 700
}

/* Section.4 - Character */

/* Part.1 of Character */

#char-1.container {
        margin-bottom: 10vh;
}

#char-1.container #char-title.row {
    padding-top: 10px;
    margin-bottom: 10vh;
}

#char-title.row::before {
    content:" ";
    width: 100%;
    height: 75px;
    display: block;
}

.pic, .words {
    float:left;
}
#heroin-intro.col-md-8 .pic,
#heroin-intro.col-md-8 .words {
    width: 50%;
    height: 30vh;
           
}

#heroin-intro.col-md-8 .pic {
    background-color: aqua;
}

#heroin-intro.col-md-8 .words {
    background-color: blue;
}

/* Part.2 of Character */

.ws-bg-3 {
    width: 100%;
    height: 400px;
    background-color: #ccc;

}

.char-sword,
.char-cane {
    width: 60%;
    height: 400px;
    margin: 0 auto;
    background-color: #aaa;
}

.weapon-list {
    padding: 10px;
}

.weapon-name {
    font-size: 40px;
    font-weight: 900;
}

.char-cane {
    /* interval between "Characters" and "FAQ". */
    margin-bottom: 10px;
}

/* Section.5 - FAQ */
#faq-title.row::before {
    content:"";
    width: 100px;
    height: 85px;
    display: block;
}

.question-board {
    padding: 10px;

        }

        .question-list {
            margin: 0;
        }

        /* Footer */

        .footer-cover {
            width: 100%;
            color:#fff;
        }

        .app-intro,
        .icons-container {
            padding: 20px;
        }

        .app-intro .pic {
            width: 20%;
        }

        img {
            width: 100%;
            height: auto;
        }

        .app-intro .words {
            width: 80%;
        }
        .app-intro .words ul {
            list-style: none;
            padding:0;
            padding-left: 10px;
        }

        .icons {
            width: 15%;
            float: left;
            padding: 5px;
        }

        .r15 {
            padding:10px 30px;
        }

        .r15 .pic {
            width: 15%;
            min-width: 85px;
            padding: 5px;
        }
        .r15 .words {
            padding:10px;
        }
        .r15 .words ul {
            padding-left:10px;
            }
        .copyright {
            text-align: center;
        }